.container {
  padding-top: 5.31vw;
  padding-left: 3.75vw;
  padding-right: 3.75vw;
}

@media (min-width: 1240px) {
  .container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ticket {
  padding: 4.38vw 2.24vw 7.5vw 3.54vw;
  border-radius: 0.94vw;
  background-color: #fff;
}

@media (min-width: 1240px) {
  .ticket {
    width: 420px;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 25px;
  }
}

.hgroup {
  width: 100%;
  padding: 0 1.5vw;
  margin-bottom: 3.75vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1240px) {
  .hgroup {
    padding-inline: 10px;
    margin-bottom: 10px;
  }
}

.title {
  font-size: 5vw;
  line-height: 1;
}

@media (min-width: 1240px) {
  .title {
    font-size: 16px;
  }
}

.congratulation {
  margin-bottom: 86.88vw;
  font-size: 4.38vw;
  font-weight: 300;
}

@media (min-width: 1240px) {
  .congratulation {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

.losing {
  text-align: center;
  margin-bottom: 3vw;
  font-size: 4.38vw;
  font-weight: 300;
}

@media (min-width: 1240px) {
  .losing {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.result {
  display: block;
  width: 55.63vw;
  height: 14.14vw;
  margin: auto;
  padding: 0;
  border-radius: 12.5vw;
  border: solid 0.31vw #ddd;
  background: none;
  font-size: 4.38vw;
  color: #000;
  font-weight: 400;
}

@media (min-width: 1240px) {
  .result {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-width: 1px;
    font-size: 16px;
  }
}
