.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3.4vw;
  column-gap: 2.5vw;
  margin-bottom: 5.4vw;
  flex-direction: column;
}

@media (min-width: 1240px) {
  .container {
    row-gap: 10px;
    margin-bottom: 20px;
  }
}

.title {
  font-size: 4.38vw;
  font-weight: 400;
}

@media (min-width: 1240px) {
  .title {
    font-size: 16px;
  }
}

.description {
  font-size: 4.38vw;
  font-weight: 400;
}

@media (min-width: 1240px) {
  .description {
    font-size: 15px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: stretch;
  align-items: center;
  justify-content: start;
  align-content: start;
  grid-auto-flow: row;
  gap: 2vw;
}

@media (min-width: 1240px) {
  .list {
    width: 75%;
    gap: 5px;
    margin: auto;
  }
}

.list_small {
  grid-template-rows: repeat(1, 1fr);
}

.list_blur {
  opacity: 0.5;
  pointer-events: none;
}
