.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.38vw;
  border-radius: 1.56vw;
  border: solid 0.31vw #ddd;
  font-weight: 400;
  padding-block: 2vw;
}

@media (min-width: 1240px) {
  .item {
    padding-block: 10px;
    font-size: 22px;
    border-radius: 14px;
    border-width: 2px;
  }
}

.item_selected {
  transform: scale(0.9);
  background-color: #ffd205;
}
